._.DS_Store
.DS_Store
*.pyc
notebooks/*
!notebooks/dev_90_ayla_test.ipynb
wandb/*
.vscode/*
test/test.py
output.png
output.svg.png
array_param/*
archieved/*
scripts/slurm_job_swaps_gpu.sh
_archieved/*
environment_linux64.yaml
__pycache__/*
scripts/*
slurm_scripts/*
utils/exp_configs/*
!utils/exp_configs/config_ayla_test.yaml