._.DS_Store
.DS_Store
*.pyc
notebooks/models/*
notebooks/wandb/*
wandb/*
.vscode/*
notebooks/my_dir/*
test/test.py
output.png
output.svg.png
array_param/*
notebooks/*.png
archieved/ScanByScan.py
scripts/slurm_job_swaps_gpu.sh
_archieved/*
environment_linux64.yaml
__pycache__/*